@import "../../_globalColor";

.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.achievement-subtitle, .subTitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
  color: $subTitle;
}

/* Configuration de la grille pour les cartes de réalisations */
.achievement-cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 éléments par ligne */
  gap: 1rem; /* Espacement entre les cartes */
  margin-bottom: 50px; /* Espacement sous la grille */
}

/* Adapter le nombre de colonnes à la taille de l'écran */
@media (max-width: 1024px) {
  .achievement-cards-div {
    grid-template-columns: repeat(2, 1fr); /* 2 éléments par ligne pour les écrans moyens */
  }
}

@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle, .subTitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .achievement-cards-div {
    grid-template-columns: 1fr; /* 1 élément par ligne pour les petits écrans */
  }
}

/* Styles supplémentaires pour les cartes, comme fourni précédemment */
.certificate-card {
  background-color: $lightBackground2;
  /* autres styles */
}
